* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77vh;
    background-color: #202124;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-right a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.header-right a:hover {
    text-decoration: underline;
}

.apps-icon img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.user-avatar img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}

.logo img {
    width: 272px;
    margin-bottom: 20px;
}

.pesquisa input {
    background-color: #4D5156;
    width: 584px;
    height: 48px;
    padding: 12px;
    border: none;
    border-radius: 24px;
    outline: none;
    font-size: 16px;
    text-align: left;
    box-shadow: none;
    color: #fff;
}

input:focus {
    outline: none;
}

.botoes {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.botoes button {
    padding: 10px 20px;
    border: none;
    background-color: #303134;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
}

.buttons button:hover {
    background-color: #e8e8e8;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: #171717;
    font-size: 14px;
    color: #fff;
    height: 96px;

}

.footer-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 1px solid #ffffff1e;
    height: 50%;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 30px;
    height: 50%;
}

.footer-left,
.footer-right {
    display: flex;
    gap: 30px;
}

.footer-bottom a {
    text-decoration: none;
    color: #fff;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

